<launch>
  <arg name="rate" default="1"/>
  <arg name="namespace" default="airsim_ros_node"/>
  <arg name="odometry" default="/mavros/local_position/odom"/>
  <arg name="cloud_in" default="/airsim_ros_node/base_link_frd/lidar/Lidar2"/>
  <arg name="point_reached" default="exploration/point_reached"/>
  <arg name="config_filename" default="$(find uav_frontier_exploration_3d)/config/airsim.yaml"/>
  
  <group ns="$(arg namespace)">
    <node name="frontier_server_node" pkg="uav_frontier_exploration_3d" type="frontier_server_node" output="screen">
      <param name="rate" value="$(arg rate)"/>
      <param name="exploration_config_filename" value="$(arg config_filename)"/>
      <remap from="cloud_in" to="$(arg cloud_in)"/>
      <remap from="odometry" to="$(arg odometry)"/>
      <remap from="point_reached" to="$(arg point_reached)"/>
    </node>
   </group>

   <node type="rviz" name="frontier_rviz" pkg="rviz" args="-d $(find uav_frontier_exploration_3d)/rviz/frontier.rviz" output="log"/>
</launch>
